.ext-fontfamily{
    font-family: monospace;
}

.-new-tab-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.-new-tab-bg-tarnsparent{
    background-color: transparent;
}

/** scrool bar */
.ext-custom-scrollbar::-webkit-scrollbar{
    width: 5px;
    scroll-behavior: smooth;
}
.ext-custom-scrollbar::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 3px;
}
.ext-custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(29, 29, 29, 0.822);
    border-radius: 3px;
}
/** scrool bar */

.-new-tab-h-250px{
    height: 250px;
}

.-new-tab-border-none{
    border: none;
}

.-new-tab-border-solid{
    border-style: solid;
}

.-new-tab-outline-none{
    outline: none;
}